interactions:
  - request:
      body: '{"msgtype":"m.text","body":"This is a message for testing."}'
      headers:
        Authorization:
          - Bearer mat_1bGYIG9S4j7bbTuVlOyGzbVOZrTWms_g6epP1
        Content-Type:
          - application/json
      method: PUT
      uri: https://matrix.org/_matrix/client/v3/rooms/!PVlIjQRbvFpeHCCxGy:matrix.org/send/m.room.message/<txnId>
    response:
      body:
        string: '{"event_id":"$LCHjw9NX7RPJhArW-3RuHJBhrs-qQEroJ7Xr9eMtOYk"}'
      headers:
        Content-Type:
          - application/json
        synapse-trace-id:
          - ee62c1a73a2b960e
      status:
        code: 200
        message: OK
version: 1
