interactions:
  - request:
      body: '{"msgtype":"m.text","body":"This is a message for testing."}'
      headers:
        Authorization:
          - Bearer mat_BZDW7Rdbkj4KOFNn6LkRh5Y3xC3dtR_0SzXAT
        Content-Type:
          - application/json
      method: PUT
      uri: https://matrix.org/_matrix/client/v3/rooms/!PVlIjQRbvFpeHCCxGy:matrix.org/send/m.room.message/<txnId>
    response:
      body:
        string: '{"errcode":"M_UNKNOWN_TOKEN","error":"Token is not active","soft_logout":false}'
      headers:
        Content-Type:
          - application/json
        synapse-trace-id:
          - 1ec9cf0d43added5
      status:
        code: 401
        message: Unauthorized
  - request:
      body: '{"type":"m.login.password","identifier":{"type":"m.id.user","user":"@viodi:matrix.org"},"password":"b2!pFpbeP$WuJt$","initial_device_display_name":"FlexGet
        Notifier"}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://matrix.org/_matrix/client/v3/login
    response:
      body:
        string: '{"access_token":"mct_SqFhxYmjIGgDMPHUs70KqxhK7SUhDK_9ggXn1","device_id":"6alJK1awxd","user_id":"@viodi:matrix.org"}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: '{"msgtype":"m.text","body":"This is a message for testing."}'
      headers:
        Authorization:
          - Bearer mct_SqFhxYmjIGgDMPHUs70KqxhK7SUhDK_9ggXn1
        Content-Type:
          - application/json
      method: PUT
      uri: https://matrix.org/_matrix/client/v3/rooms/!PVlIjQRbvFpeHCCxGy:matrix.org/send/m.room.message/<txnId>
    response:
      body:
        string: '{"event_id":"$UyIbXJBuEaz7F5QFO8aYMXJDyyVB-z-bL0op71GEE9g"}'
      headers:
        Content-Type:
          - application/json
        synapse-trace-id:
          - 43e08fa8deb4314d
      status:
        code: 200
        message: OK
version: 1
