interactions:
- request:
    body: login=flexget_flexget&password=flexget_flexget&rememberMe=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Plex-Client-Identifier:
      - '0xe04cb4ea03'
      X-Plex-Device:
      - Windows
      X-Plex-Device-Name:
      - Champ
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Windows
      X-Plex-Platform-Version:
      - '10'
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Version:
      - 4.15.16
    method: POST
    uri: https://plex.tv/api/v2/users/signin
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<user id=\"187797645\"
        uuid=\"d0df38378404ccb3\" username=\"flexget_flexget\" title=\"flexget_flexget\"
        email=\"polka_gill0i@icloud.com\" friendlyName=\"\" locale=\"\" confirmed=\"0\"
        joinedAt=\"1670500095\" emailOnlyAuth=\"0\" hasPassword=\"1\" protected=\"0\"
        thumb=\"https://plex.tv/users/d0df38378404ccb3/avatar?c=1725844827\" authToken=\"KxvLMr_sVisr5AsAXBU7\"
        mailingListStatus=\"unsubscribed\" mailingListActive=\"0\" scrobbleTypes=\"\"
        country=\"US\" subscriptionDescription=\"\" restricted=\"0\" anonymous=\"0\"
        home=\"0\" guest=\"0\" homeSize=\"1\" homeAdmin=\"0\" maxHomeSize=\"15\" rememberExpiresAt=\"1727054427\"
        adsConsent=\"\" adsConsentSetAt=\"\" adsConsentReminderAt=\"\" experimentalFeatures=\"0\"
        twoFactorEnabled=\"0\" backupCodesCreated=\"0\" attributionPartner=\"\">\n
        \ <subscription active=\"0\" subscribedAt=\"\" status=\"Inactive\" paymentService=\"\"
        plan=\"\">\n    <features>\n      <feature id=\"guided-upgrade\"/>\n      <feature
        id=\"increase-password-complexity\"/>\n      <feature id=\"upgrade-3ds2\"/>\n
        \     <feature id=\"ad-countdown-timer\"/>\n      <feature id=\"adaptive_bitrate\"/>\n
        \     <feature id=\"amazon-loop-debug\"/>\n      <feature id=\"Android - Dolby
        Vision\"/>\n      <feature id=\"Android - PiP\"/>\n      <feature id=\"avod-ad-analysis\"/>\n
        \     <feature id=\"avod-new-media\"/>\n      <feature id=\"blacklist_get_signin\"[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xe04cb4ea03'
      X-Plex-Container-Size:
      - '100'
      X-Plex-Container-Start:
      - '0'
      X-Plex-Device:
      - Windows
      X-Plex-Device-Name:
      - Champ
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Windows
      X-Plex-Platform-Version:
      - '10'
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - KxvLMr_sVisr5AsAXBU7
      X-Plex-Version:
      - 4.15.16
    method: GET
    uri: https://metadata.provider.plex.tv/library/sections/watchlist/all?includeCollections=1&includeExternalMedia=1
  response:
    body:
      string: '<?xml version="1.0"?><MediaContainer librarySectionID="watchlist" librarySectionTitle="Watchlist"
        offset="0" totalSize="3" identifier="tv.plex.provider.metadata" size="3"><Video
        art="https://metadata-static.plex.tv/2/gracenote/2da4948906992a673bb605731cd99943.jpg"
        banner="https://artworks.thetvdb.com/banners/v4/movie/5483/banners/6424b1060adb7.jpg"
        guid="plex://movie/5d7768ba96b655001fdc0408" key="/library/metadata/5d7768ba96b655001fdc0408"
        rating="7.6" ratingKey="5d7768ba96b655001fdc0408" studio="20th Century Studios"
        tagline="Return to Pandora." type="movie" thumb="https://metadata-static.plex.tv/8/gracenote/852339eebde7ebea9459515382d2e345.jpg"
        addedAt="1670976000" duration="11520000" publicPagesURL="https://watch.plex.tv/movie/avatar-the-way-of-water"
        slug="avatar-the-way-of-water" userState="0" title="Avatar: The Way of Water"
        contentRating="PG-13" originallyAvailableAt="2022-12-14" year="2022" audienceRating="9.2"
        audienceRatingImage="rottentomatoes://image.rating.upright" ratingImage="rottentomatoes://image.rating.ripe"
        imdbRatingCount="509066"><Image alt="Avatar: The Way of Water" type="background"
        url="https://metadata-static.plex.tv/2/gracenote/2da4948906992a673bb605731cd99943.jpg"/><Image
        alt="Avatar: The Way of Water" type="banner" url="https://artworks.thetvdb.com/banners/v4/movie/5483/banners/6424b1060adb7.jpg"/><Image
        alt="Avatar: The Way of Water" type="clearLogo" url="https://metadata-static.plex.tv/7/683a142553/778d817f193e0c9b8e7abe4e7276b200.png"/><Image
        alt="Avatar: The Way of Water" type="clearLo[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xe04cb4ea03'
      X-Plex-Device:
      - Windows
      X-Plex-Device-Name:
      - Champ
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Windows
      X-Plex-Platform-Version:
      - '10'
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - KxvLMr_sVisr5AsAXBU7
      X-Plex-Version:
      - 4.15.16
    method: GET
    uri: https://metadata.provider.plex.tv/
  response:
    body:
      string: <?xml version="1.0"?><MediaProvider icon="https://provider-static.plex.tv/icons/metadata-560.svg"
        identifier="tv.plex.provider.metadata" protocols="stream" title="Metadata"
        version="1.3.0"><Feature type="metadata" key="/library/metadata"/><Feature
        type="actions"><Action id="addToWatchlist" key="/actions/addToWatchlist" reverseKey="/actions/removeFromWatchlist"/><Action
        id="rate" key="/actions/rate"/><Action id="scrobble" key="/actions/scrobble"
        reverseKey="/actions/unscrobble"/></Feature><Feature type="collection" key="/library/collections"/><Feature
        type="location" key="/location"/><Feature type="markers" key="/markers"/><Feature
        public="1" type="imagetranscoder" key="https://images.plex.tv/photo"/><Feature
        flavor="universal" type="playqueue" key="https://play.provider.plex.tv/playQueues"/><Feature
        type="match" key="/library/metadata/matches"/></MediaProvider>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      cdn-cache-control:
      - max-age=86400
      etag:
      - W/"369-LgDHfSaMCTDKhJR5CV+d/zVbjf4"
      origin-agent-cluster:
      - ?1
      x-plex-timestamp:
      - '1717565583'
      x-plex-version:
      - 1f85bbd7cf44888ff6d1bdc83632e25e969314d7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xe04cb4ea03'
      X-Plex-Device:
      - Windows
      X-Plex-Device-Name:
      - Champ
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Windows
      X-Plex-Platform-Version:
      - '10'
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - KxvLMr_sVisr5AsAXBU[...]
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xe04cb4ea03'
      X-Plex-Device:
      - Windows
      X-Plex-Device-Name:
      - Champ
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Windows
      X-Plex-Platform-Version:
      - '10'
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - KxvLMr_sVisr5AsAXBU7
      X-Plex-Version:
      - 4.15.16
    method: GET
    uri: https://metadata.provider.plex.tv/library/metadata/5d776ca79ab544002151945c/userState
  response:
    body:
      string: <?xml version="1.0"?><MediaContainer identifier="tv.plex.provider.metadata"
        size="1"><UserState watchlistedAt="1725844815" viewCount="0" viewOffset="0"
        ratingKey="5d776ca79ab544002151945c" type="movie"/></MediaContainer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"dc-jaDZtnkVXl2npMlz6NeI/eOQM28"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Container-Start:
      - '0'
      X-Plex-Container-Total-Size:
      - '1'
      X-Plex-Timestamp:
      - '1725844828'
      X-Plex-Version:
      - 1f408f258867ac3b5038210fc4360453a7f61825
      x-plex-cache:
      - miss
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xe04cb4ea03'
      X-Plex-Device:
      - Windows
      X-Plex-Device-Name:
      - Champ
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Windows
      X-Plex-Platform-Version:
      - '10'
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - KxvLMr_sVisr5AsAXBU7
      X-Plex-Version:
      - 4.15.16
    method: PUT
    uri: https://metadata.provider.plex.tv/actions/removeFromWatchlist?ratingKey=5d776ca79ab544002151945c
  response:
    body:
      string: <?xml version="1.0"?><MediaContainer size="0"/>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"2f-YbDylU+ETaVctM/AYzE3u53kgZE"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Timestamp:
      - '1725844828'
      X-Plex-Version:
      - 1f408f258867ac3b5038210fc4360453a7f61825
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Container-Size:
      - '100'
      X-Plex-Container-Start:
      - '0'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      [...]
[...]
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: GET
    uri: https://metadata.provider.plex.tv/library/metadata/5d776ca79ab544002151945c/userState
  response:
    body:
      string: <?xml version="1.0"?><MediaContainer identifier="tv.plex.provider.metadata"
        size="1"><UserState watchlistedAt="1759195980" viewCount="0" viewOffset="0"
        ratingKey="5d776ca79ab544002151945c" type="movie"/></MediaContainer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"dc-IHTUVzbgGuYVxVZ34eyZXBGNRP8"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Container-Start:
      - '0'
      X-Plex-Container-Total-Size:
      - '1'
      X-Plex-Timestamp:
      - '1759196009'
      X-Plex-Version:
      - 51533c39fed0360efd3fc9f6629df0dc65a6db14
      X-Response-Time:
      - '53.680'
      x-plex-cache:
      - miss
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Plex-Client-Identifier:
      - '0xd011e51c3011'
      X-Plex-Device:
      - Darwin
      X-Plex-Device-Name:
      - weychopee-2.local
      X-Plex-Features:
      - external-media
      X-Plex-Language:
      - en
      X-Plex-Platform:
      - Darwin
      X-Plex-Platform-Version:
      - 25.0.0
      X-Plex-Product:
      - PlexAPI
      X-Plex-Provides:
      - controller
      X-Plex-Sync-Version:
      - '2'
      X-Plex-Token:
      - 8VgBunj8cdzGEakte7qH
      X-Plex-Version:
      - 4.17.1
    method: PUT
    uri: https://discover.provider.plex.tv/actions/removeFromWatchlist?ratingKey=5d776ca79ab544002151945c
  response:
    body:
      string: <?xml version="1.0"?><MediaContainer size="0"/>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - W/"2f-YbDylU+ETaVctM/AYzE3u53kgZE"
      Origin-Agent-Cluster:
      - ?1
      X-Plex-Timestamp:
      - '1759196010'
      X-Plex-Version:
      - 51533c39fed0360efd3fc9f6629df0dc65a6db14
      X-Response-Time:
      - '54.052'
    status:
      code: 200
      message: OK
[...]
